<div class="modal fade" id="createApplicationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Application</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="newApplicationForm">
                            <div class="form-group">
                                <label for="Name" class="col-lg-3 control-label">Application Name</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="Name" name="Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="col-lg-3 control-label">Description</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" id="Description" name="Description" rows="10"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveApplicationButton">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->