@model featuregenie.web.Models.HomeViewModel
@section scripts
{
    <script>
        $("#selectApplication").change(function() {
            $("#selectApplicationSubmit").click();
        });

        $("#createApplicationModal").on("shown.bs.modal", function () {
            $("#ApplicationName").focus();
        });

        $("#saveApplicationButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/CreateApplication",
                data: $("#newApplicationForm").serialize(),
                success: function (features) {
                    $("#createApplicationModal").modal("hide");
                    $("#features").html(features);
                },
                error: function () {
                    $("#createApplicationModal").modal("hide");
                }
            });
        });

        $("#createFeatureModal").on("shown.bs.modal", function () {
            var selectedApplicationId = $("#selectApplication").val();
            $("#ApplicationId").val(selectedApplicationId);
            $("#Name").focus();
        });

        $("#saveFeatureButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/CreateFeature",
                data: $("#newFeatureForm").serialize(),
                success: function (features) {
                    $("#createFeatureModal").modal("hide");
                    $("#features").html(features);
                },
                error: function () {
                    $("#createFeatureModal").modal("hide");
                }
            });
        });        
    </script>
}

<div class="row" id="applications">
    @Html.Partial("_Applications", Model)
</div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="features" class="active"><a href="#features" aria-controls="home" role="tab" data-toggle="tab">Features</a></li>
        <li role="configuration"><a href="#configuration" aria-controls="home" role="tab" data-toggle="tab">Configuration</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="features"></div>
        <div role="tabpanel" class="tab-pane" id="configuration"></div>        
    </div>

@Html.Partial("_CreateApplicationModal")
@Html.Partial("_CreateFeatureModal")