@model featuregenie.web.Models.HomeViewModel
@section scripts
{
    <script>
        $("#selectApplication").change(function() {
            selectApplication();
        });        

        function selectApplication() {
            var id = $("#selectApplication").val();
            if (id > 0) {
                $.post("/Feature/_Features/" + id, function(data) {
                    $("#features").html(data);
                });

                $.post("/Configuration/_ConfigurationSettings/" + id, function(data) {
                    $("#configuration").html(data);           
                });
            }
        }        

        function createApplicationSuccess() {
            selectApplication();
        }
                                    

        // auto modal stuff
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
    </script>
}
<div class="" id="applications">
    @Html.Partial("_Applications", Model)
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="features" class="active"><a href="#features" aria-controls="home" role="tab" data-toggle="tab">Features</a></li>
            <li role="configuration"><a href="#configuration" aria-controls="home" role="tab" data-toggle="tab">Configuration</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="features"></div>
            <div role="tabpanel" class="tab-pane" id="configuration"></div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade">
    <div class="modal-content"></div>
</div>