@model featuregenie.web.Models.HomeViewModel
@section scripts
{
    <script>
        $("#selectApplication").change(function() {
            $("#selectApplicationSubmit").click();
        });

        $("#createApplicationModal").on("shown.bs.modal", function () {
            $("#ApplicationName").focus();
        });

        $("#saveApplicationButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/CreateApplication",
                data: $("#newApplicationForm").serialize(),
                success: function (features) {
                    $("#createApplicationModal").modal("hide");
                    $("#features").html(features);
                },
                error: function () {
                    $("#createApplicationModal").modal("hide");
                }
            });
        });

        $("#createFeatureModal").on("shown.bs.modal", function () {
            $("#Name").focus();
        });

        $("#saveFeatureButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/CreateFeature",
                data: $("#newFeatureForm").serialize(),
                success: function (features) {
                    $("#createFeatureModal").modal("hide");
                    $("#features").html(features);
                },
                error: function () {
                    $("#createFeatureModal").modal("hide");
                }
            });
        });        
    </script>
}

<div class="row" id="applications">
    @Html.Partial("_Applications", Model)
</div>
<div class="row" id="features"></div>
@Html.Partial("_CreateApplicationModal")
@Html.Partial("_CreateFeatureModal")